# 
uploads/
firmware/
junk/
dellemc-examples-from-git/
hpc-git-branch/
src/
# NO NYU data uploads 
old-servers-inventory/
devops/ENV.sh
devops/.pfile
deploy/
.profile 
notes/
cfg/
.bash_history
.ssh/ 
.cache/
.mozilla/
.history
.config/
.vnc/
.viminfo
.dbus/
.ansible/
.Xauthority
.ssh/authorized_keys
.ssh/cluster
.ssh/cluster.pub
.ssh/config
.ssh/known_hosts
.ssh/save/authorized_keys
.ssh/save/cluster
.ssh/save/cluster.pub
.ssh/save/config
.ssh/save/known_hosts
.wwsh/history
.profile
